@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Merriweather:ital,wght@0,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #333;
  justify-content: center;
  font-family: 'Alkatra';
  font-size: 80px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type=text] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  width: 50%;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: .8s;
}
button:hover{
    background-color: #fff;
    color: #333;
}

.weather-container {
  margin-top: 50px;
}

.weather-container h2{
    margin: 0 60px;
}
.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Josefin Sans';
}

.location, .temperature, .conditions, .humidity, .wind-speed {
  font-size: 20px;
  margin-bottom: 10px;
}
#error-message {
  font-size: 24px;
  color: red;
  margin-top: 20px;
  display: none;
}
@media screen and (max-width: 400px){
  .search-container{
    margin-top: 10px;
  }
  h1{
    font-size: 40px;
  }
}